:root {
    /*Colors*/
    --white__color: hsl(0, 0%, 100%);
    --light-gray__color:  hsl(212, 45%, 89%);
    --grayish-blue__color: hsl(220, 15%, 55%);
    --dark-blue__color: hsl(218, 44%, 22%);

    /*Typography*/
    --font-family: 'Outfit', sans-serif ;
    --font-size__title: 2.5rem;
    --font-size__paragraph: 1.5rem;
    --font-weigth__title: 700;
    --font-weigth__paragraph: 400;
}

/*
+--------------------------------------------------------------------------------------------------------
|------> GLOBAL CONFIGURATION
+-------------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /*To set the font in 10px for all html*/
    font-family: var(--font-family)
}

/*
+--------------------------------------------------------------------------------------------------------
|------> STYLES FOR MAIN CONTAINERS
+-------------------------------------------------------------------------------------------------------*/

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    min-width: 375px;
    min-height: 668px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: var(--light-gray__color);
}

main {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 20px;
    max-width: 320px;
    max-height: 500px;
    min-width: 320px;
    min-height: 500px;
    background-color: var(--white__color);
    box-shadow: 3px 3px 45px var(--grayish-blue__color);
}

section.qr-code__sectionContainer {
    display: flex;
    justify-content: center;
    min-width: inherit;
    min-height: inherit;
    max-width: inherit;
    max-height: inherit;
    border-radius: 20px;
}

/*
+--------------------------------------------------------------------------------------------------------
|------> STYLES FOR SUBCONTAINERS
+-------------------------------------------------------------------------------------------------------*/

figure.qr-code__figureContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center; /* Center horizontally */
}

figure figcaption.qr-code__textContainer {
    border-radius: 12px;
    margin: 5px;
    padding-top: 22px;
    text-align: center;
}


/*
+--------------------------------------------------------------------------------------------------------
|------> STYLES FOR ELEMENTS
+-------------------------------------------------------------------------------------------------------*/

figure img.qr-code__img {
    margin: auto;
    border-radius: 12px;
    max-width: 288px;
    max-height: 288px;
    min-width: 288px;
    min-height: 288px;
}

figcaption.qr-code__textContainer h1 {
    font-size: var(--font-size__title);
    font-weight: var(--font-weigth__title);
    color: var(--dark-blue__color);
}

figcaption.qr-code__textContainer p {
    padding-top: 15px;
    font-size: var(--font-size__paragraph);
    font-weight: var(--font-weigth__paragraph);
    color: var(--grayish-blue__color);
}

footer {
    text-align: left;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: hsl(210, 95%, 89%);
    outline: 2px hsl(210, 43%, 81%) solid;
    font-size: 1.1rem;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bolder;
}


/*
+--------------------------------------------------------------------------------------------------------
|------> HOVER EFFECTS
+-------------------------------------------------------------------------------------------------------*/

section.qr-code__sectionContainer:hover {
    box-shadow: 3px 2px 11px hsl(216, 98%, 60%);
}

figcaption.qr-code__textContainer h1:hover {
    font-size: 2.5rem;
    color: hsl(216, 98%, 60%);
}